        @import url(https://fonts.googleapis.com/earlyaccess/amiri.css);
        * {
            margin: 0;
            padding: 0;
            font-family: Amiri, serif;
            font-size: 20px
        }

        body{
    color: #907028;
    box-sizing: border-box;
    background-image: url(../img/back.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.links{
    color: #907028;
    text-decoration: none;
}

.links:hover{
    color: #907028;
    text-decoration: none;
}

.offcanvas{
        background-color: rgba(8, 1, 32, 0.74);
    color : #fff
}

.btn-close{
    background-color:#fff
}
.form-select{
    text-align: center;
    margin:20px auto;
    border-radius: 50px;
    background-color: rgba(20, 20, 20, 0.952);
    color: #fff;
    cursor: pointer;
}

.form-select option{
    max-width: 100px;
}

.img-hero{
    border-radius: 50%;
}
.heading{
    margin-top: 30px;
}

.hero-content{
        background-color: rgba(8, 1, 32, 0.74);
        /* backdrop-filter: blur(7px); */
    width: calc(100% - 60px);
    margin:30px;
    padding: 50px;
  box-shadow: inset 0 0 30px #929292;
  border-radius: 10px;
    text-align: center;
}

.reciters{
    text-align: center;
    border: 2px solid rgba(224, 223, 223, 0.315);
    margin: 10px 5px;
    border-radius: 50px;
    padding:7px 5px;
    cursor: pointer;
    background-color: rgba(20, 20, 20, 0.637);
    /* backdrop-filter: blur(2px); */
    font-weight: bold;

}


.reciters:hover{
background-color: rgba(56, 56, 56, 0.315);

}

.offcanvas-backdrop.fade{
    opacity: 0;
}
.containerSurah{
    position: fixed;
    top:0px;
    left: 0px;
           background-color: rgba(8, 1, 32, 0.5);
        backdrop-filter: blur(7px);
    width: 100%;
    height: 100vh;
  box-shadow: inset 0 0 20px rgba(153, 153, 153, 0.733);
  border-radius: 10px;
    text-align: center;
    transition: all(3s);
    z-index: 10000;
display: none;
    

}

.closeContainer{
    position: absolute;
    top:50px;
    right: 50%;
    margin-right: -25%;
    padding: 10px;
    z-index: 1000;
}

/* .surahImg{
   position: absolute;
    top:0px;
    width: 20%;
    left: 50%;
    margin-left: -10%;
} */


.audioPlay{
    width: 100%;
    position: absolute;
    top:50%;
    left: 50%;
    margin-left: -50%;
}

     audio::-webkit-media-controls-panel {
     background-color: rgba(8, 1, 32, 0.5);
     color:#fff;

     }

.fa-microphone{
    font-size:24px;
    margin-left: 5px;
}

.fa-play{
    font-size:14px;
    margin-left: 5px;
}





@media (max-width:750px) {
  .surah{
    width: 100%;
    position: absolute;
    top:50%;
    left: 50%;
    margin-left: -50%;
}
.closeContainer{
    position: absolute;
        top:40%;
    right: 100px;
    z-index: 1000;
 
}
}

@media (max-width:576px) {
  .option_mushaf{
    width: 10px;
  }
  .closeContainer{
    position: absolute;
    top:40%;
    right: 100px;
       z-index: 1000;

}
}